- var j = 1;

pre
	|{{#ReturnType}}<i class="typ">{{ReturnType}} </i>{{/ReturnType}}<i class="func">{{MethodName}}</i>(
	while j <= max
		|{{#Param#{j}Name}}{{#Param#{j}IsOptional}}[{{/Param#{j}IsOptional}}{{#Param#{j}Type}}<i class="typ">{{Param#{j}Type}} </i>{{/Param#{j}Type}}<i class="nam">{{Param#{j}Name}}</i>{{#Param#{j}Default}}<i class="oper">=</i><i class="val">{{Param#{j}Default}}</i>{{/Param#{j}Default}}{{#Param#{j}IsOptional}}]{{/Param#{j}IsOptional}}{{/Param#{j}Name}}{{#Param#{++j}Name}}, {{/Param#{j}Name}}
	|)
